
<html>
    <head>
        <title>Cotton Mill</title>
        <link rel="stylesheet" href="app.component.css">
        <link rel="icon" href="/asset/img/icon.jpg">
    </head>
        <body><br>
            <div class="box">
            
                <div class="nav"><br>
                <img src="icon.jpg" alt="sree visshnu cotton mills" class="icon"><br>
                <h2 class="name">COTTON <span>MILL</span></h2>
                   
                      <ul class="nav-bar">
                          <li><a href="#">Home</a></li>
                          <li><a href="#">Company</a></li>
                          <li><a href="#">Contact</a></li>
                          <li><a href="#">About</a></li>
                      </ul>
                   
                </div><br>
                <div class="nav-img"></div><br><br>
                <p> Powerloom cotton (Textile) accounts 14% of India’s industrial production and around 27% of its
                    exports earnings from growing its own raw materials (cotton,silk cotton and yarn) to providing value
                    added products to consumers (fabric and garments), the cotton industry covers a wide range of
                    economic activities, including employment generation in both organized and unorganized sector.
                    Powerloom fibres account for 40% share in a cotton dominated Indian textile industry. <br><br>
                    India accounts 15%of the world’s total cotton crop production and is the largest producer of pure cotton.
                    Textile sector is the second largest employer after the agriculture sector in both rural and urban areas. India
                    is a large pool of skilled low-cost textile workers, experienced in technology. Nowadays, out of the total
                    demand of the textile fibers about 70% is covered by cotton.
                    Its widespread use is largely due to the ease with which its fibres are spun into yarn.</p><br><br>
                    <div class="img">
                    <div class="img1">
                    <img src="/assets/img/powerloom.jpg"  class="img1"></div>
                    <div class="img2">
                    <img src="/assets/img/powerloom1.jpg" class="img2"></div>
                    <div class="img3">
                    <img src="/mill/src/assets/img/powerloom2.jpg"  class="img3"></div>
                    </div><br><br>
        
            </div>
         </body>
        
</html>